* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f6f8;
}

 html, body {
        height: 100%;
        margin: 0; /* Remove default body margin */
        padding: 0; /* Remove default body padding */
    }
